<h2 id="q1">Q1</h2>
<p>홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.</p>
<table>
<thead>
<tr>
<th>과목</th>
<th>점수</th>
</tr>
</thead>
<tbody>
<tr>
<td>국어</td>
<td>80</td>
</tr>
<tr>
<td>영어</td>
<td>75</td>
</tr>
<tr>
<td>수학</td>
<td>55</td>
</tr>
</tbody>
</table>

In [1]:
a = 80
b = 75
c = 55
(a+b+c)/3 # 3과목의 점수를 합한 뒤 3으로 나누기

70.0

<h2 id="q2">Q2</h2>
<p>자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.</p>

In [2]:
a = 13%2
if a == 1:
    print("홀수")
else :
    print("짝수")
    
# 자연수를 2로 나누어서 나머지가 1이면 홀수 아니면 짝수를 출력

홀수

<h2 id="q3">Q3</h2>
<p>홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.</p>
<blockquote>
<p>※ 문자열 슬라이싱 기법을 사용해 보자.</p>
</blockquote>

In [3]:
id = "881120-1068234"
YYYYMMDD = id[:6]
num = id[8:]
print(YYYYMMDD)
print(num)

881120
068234

<h2 id="q4">Q4</h2>
<p>주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.</p>
<pre><code class="python">&gt;&gt;&gt; pin = &quot;881120-1068234&quot;
</code></pre>

<blockquote>
<p>※ 문자열 인덱싱을 사용해 보자.</p>
</blockquote>

In [4]:
pin = "881120-1068234"
a = pin[7]
a
# 출력값이 1이면 남자 2이면 여자

'1'

<h2 id="q5">Q5</h2>
<p>다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.</p>
<pre><code class="python">&gt;&gt;&gt; a = &quot;a:b:c:d&quot;
</code></pre>

In [1]:
a = "a:b:c:d"
b = a.replace(":","#")   # : 를 # 으로 바꾸기
b

'a#b#c#d'

<h2 id="q6">Q6</h2>
<p>[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.</p>
<blockquote>
<p>※ 리스트의 내장 함수를 사용해 보자.</p>
</blockquote>

In [6]:
a= [1,3,5,4,2]
a.sort()       # a를 정렬
a.reverse()    # a를 역순으로
a

[5, 4, 3, 2, 1]

<h2 id="q7">Q7</h2>
<p>['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.</p>
<blockquote>
<p>※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.</p>
</blockquote>

In [7]:
a = ['Life', 'is', 'too', 'short']
b = " ".join(a)
b

'Life is too short'

<h2 id="q8">Q8</h2>
<p>(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자. </p>
<blockquote>
<p>※ 더하기(+)를 사용해 보자.</p>
</blockquote>

In [8]:
a = (1,2,3)
a = a + (4,)
a

(1, 2, 3, 4)

<h2 id="q9">Q9</h2>
<p>다음과 같은 딕셔너리 a가 있다.</p>
<pre><code class="python">&gt;&gt;&gt; a = dict()
&gt;&gt;&gt; a
{}
</code></pre>

<p>다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.</p>
<ol>
<li><code>a['name'] = 'python'</code></li>
<li><code>a[('a',)] = 'python'</code></li>
<li><code>a[[1]] = 'python'</code></li>
<li><code>a[250] = 'python'</code></li>
</ol>

In [9]:
a = dict()
a

{}

In [10]:
a['name'] = 'python'

In [11]:
a

{'name': 'python'}

In [12]:
a[('a',)] = 'python'

In [13]:
a

{'name': 'python', ('a',): 'python'}

In [14]:
a[[1]] = 'python'     #[1]은 리스트로 변하는 값, 딕셔너리는 변하지 않는값이 키로 사용

TypeError: unhashable type: 'list'

In [ ]:
a[250] = 'python'

<h2 id="q10">Q10</h2>
<p>딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.</p>
<pre><code class="python">&gt;&gt;&gt; a = {'A':90, 'B':80, 'C':70}
</code></pre>

<blockquote>
<p>※ 딕셔너리의 pop 함수를 사용해 보자.</p>
</blockquote>

In [2]:
a = {'A':90, 'B':80, 'C':70}
b = a.pop('B')
print(a)
print(b)

{'A': 90, 'C': 70}
80

<h2 id="q11">Q11</h2>
<p>a 리스트에서 중복 숫자를 제거해 보자.</p>
<pre><code class="python">&gt;&gt;&gt; a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
</code></pre>

<blockquote>
<p>※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.</p>
</blockquote>

In [ ]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
set = set(a)
b = list(set)
b

<h2 id="q12">Q12</h2>
<p>파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.</p>
<pre><code class="python">&gt;&gt;&gt; a = b = [1, 2, 3]
&gt;&gt;&gt; a[1] = 4
&gt;&gt;&gt; print(b)
</code></pre>
</div>

In [3]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

a 와 b 는 [1,2,3]이라는 같은 리스트 객체이기 때문에 a[1]을바꾸면 b[1]도 같이 바뀐다