In [1]:
a = '881120-1068234'
a[0:6]

'881120'

In [2]:
a[7:]

'1068234'

In [3]:
a[7]

'1'

In [4]:
a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

In [9]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)

In [10]:
result

'Life is too short'

In [11]:
a = [1,3,5,4,2]
a.sort()
a.reverse()

In [12]:
a

[5, 4, 3, 2, 1]

In [13]:
a = (1,2,3)
b = a + (4,)
b

(1, 2, 3, 4)

In [14]:
a = {'A':90, 'B':80, 'C':70}
b =a.pop('B')
print(a)
print(b)

{'A': 90, 'C': 70}
80

In [15]:
a = [1,1,1,2,2,3,3,3,4,4,5]
b = list(set(a))

In [16]:
b

[1, 2, 3, 4, 5]

In [18]:
a =b= [1,2,3]
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 4, 3]

In [19]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [20]:
a = 1
result = 0
while a<=1000:
    if a % 3 ==0:
        result = result + a
    a = a+1
    
print(result)

166833

In [21]:
a = 1
while a<=5:
    print('*'*a)
    a = a +1

*
**
***
****
*****

In [23]:
i = 1
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [25]:
a = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
avergae = 0
for score in a:
    total = total + score
avergae = total/len(a)

print(avergae)

79.0

In [26]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n % 2 ==1]

In [27]:
result

[2, 6, 10]

In [28]:
def is_odd1(num):
    if num % 2 == 1:
        print('True')
    else :
        print('False')

In [30]:
is_odd1(1)

True

In [31]:
is_odd1(2)

False

In [38]:
def avergae_(*args):
    total = 0
    for i in args:
        total = total + i
    average = total / len(args)
    print(average)

In [40]:
avergae_(1,2,3,4,5,6,7,8,9,10)

5.5