In [1]:
a = 80
b = 75
c = 55
(a+b+c)/3

70.0

In [3]:
a = 13
if a % 2 == 1:
    print("홀수")
else :
    print("짝수")

홀수

In [7]:
a = '881120-1068234'
a[:6]

'881120'

In [9]:
a[7:]

'1068234'

In [10]:
a[7]

'1'

In [11]:
a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

In [13]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

In [19]:
a = ['Life','is','too','short']
b = " ".join(a)
b

'Life is too short'

In [20]:
a = (1,2,3)
b = a +(4,)

In [21]:
b

(1, 2, 3, 4)

In [22]:
a= dict()

In [23]:
a

{}

In [24]:
a[[1]] = 'python'

TypeError: unhashable type: 'list'

In [27]:
a = {'A':90, 'B':80, 'C':70}
b = a.pop('B')

In [28]:
b

80

In [29]:
a

{'A': 90, 'C': 70}

In [30]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b = set(a)

In [31]:
b

{1, 2, 3, 4, 5}

In [32]:
a = b =[1,2,3]
a[1] = 4
print(b)

[1, 4, 3]

In [33]:
a = 1
sum = 0
while a<=1000:
    if a % 3 ==0:
        sum = sum + a
    a = a+1

print(sum)

166833

In [34]:
a = 1
while a<=5:
    print("*"*a)
    a = a +1

*
**
***
****
*****

In [36]:
for a in range(1,100):
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [38]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
score = 0
average = 0
for score in A:
    total = total + score

average = total/len(A)

print(average)

79.0

In [39]:
numbers = [1,2,3,4,5]
result =[]

In [40]:
def is_odd(a):
    if a % 2 == 1:
        print("True")
    else :
        print("False")
is_odd(2)

False

In [41]:
is_odd(1)

True

In [44]:
def average(*args):
    total = 0
    average = 0
    for i in args:
        total = total + i
    average = total/len(args)
    print(average)

In [ ]:
average(12,3,4,5,6,7,89,10)

In [ ]:
input1 = input("1st : ")
input2 = input("2nd : ")

total = int(input1)+int(input2)
print("두수의 합은 %s 입니다. "%total)